[tool.poetry]
name = "packworker"
version = "0.1.0"
description = ""
authors = ["Nguyen Anh Tuan <nanhtuan3896@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
rich = "^13.6.0"
click = "^8.1.7"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = [
    # Pyflakes
    "F",
    # Pycodestyle
    "E",
    "W",
    # isort
    "I",
    # flake8-print
    "T20",
    # pyupgrade
    "UP",
    # Ruff-specific rules
    "RUF",
]
 
# Same as Black.
line-length = 88
 
target-version = "py310"
 
[tool.ruff.mccabe]
max-complexity = 10
 
[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]